<div class="pull-right">
  <div class="language_switch">
    <%= link_to "Deutsch", :locale=>'de' %>&nbsp;&nbsp;&nbsp;
    <span class="language_divider">|</span>
    &nbsp;&nbsp;&nbsp;<%= link_to "English", :locale=>'en' %>
  </div>
</div>