<% if !@selected_article.nil? and !@selected_article.lon.blank? and !@selected_article.lat.blank? %>
	<% lat = @selected_article.lat.to_s %>
	<% lon = @selected_article.lon.to_s %>
<% elsif !@selected_track.nil? and !@selected_track.lon.blank? and !@selected_track.lat.blank? %>
	<% lat = @selected_track.lat.to_s %>
	<% lon = @selected_track.lon.to_s %>
<% elsif !@selected_video.nil? and !@selected_video.lon.blank? and !@selected_video.lat.blank? %>
	<% lat = @selected_video.lat.to_s %>
	<% lon = @selected_video.lon.to_s %>
<% elsif !@selected_post.nil? and !@selected_post.lon.blank? and !@selected_post.lat.blank? %>
	<% lat = @selected_post.lat.to_s %>
	<% lon = @selected_post.lon.to_s %>
<% else %>
	<% return %>
<% end %>	
<% if @feed == true %>
	<div class="button">
		<%= link_to t(:show_on_map), get_map_url(lon, lat), :class => "btn btn-small" %>
	</div>
<% else %>
	<div class="button">
		<span class="globe_btn">
			<%= link_to '', get_map_url(lon, lat), :title => t(:show_on_map) %>
		</span>
	</div>
<% end %>
