<div class="pull-right" id="sidebar_right">
  <ul>
    <li>
      <%= link_to(image_tag("rss.jpg", :alt => "RSS", :width => 20, :height => 20, :title => "Add RSS Feed"), "#") %>
    </li>
    <li>
      <%= link_to(image_tag("fb.jpg", :alt => "Facebook", :width => 20, :height => 20, :title => "Connect On Facebook"), "#") %>
    </li>
    <li>
      <%= link_to(image_tag("twitter.jpg", :alt => "Twitter", :width => 20, :height => 20, :title => "Connect On Twitter"), "#") %>
    </li>
  </ul>
</div>    