<ul>   
  <li>
    <%= link_to(image_tag("fk.png", :alt => "Facebook", :width => 22, :height => 22, :title => "Connect On Facebook"), "https://www.facebook.com/alexander.buehler.7", :target => '_blank') %>
  </li>
  <li>
    <%= link_to(image_tag("twitter.png", :alt => "Twitter", :width => 22, :height => 22, :title => "Connect On Twitter"), "https://twitter.com/pennythoughts10", :target => '_blank') %>
  </li>
  <li>
    <%= link_to(image_tag("flickr2.png", :alt => "Flickr", :width => 22, :height => 22, :title => "See Photos On Flickr"), "http://www.flickr.com/photos/26146189@N00", :target => '_blank') %>
  </li>
  <li>
    <%= link_to(image_tag("rss.png", :alt => "RSS", :width => 22, :height => 22, :title => "Add RSS Feed"), feed_path, :id => 'rss_feed') %>
  </li>
</ul>