<ul>   
  <li>
    <%= link_to(image_tag("fk.png", :alt => "FK", :width => 22, :height => 22, :title => ""), "data:text/html;charset=utf-8;base64,PCFET0NUWVBFIEhUTUwgUFVCTElDICItLy9XM0MvL0RURCBIVE1MIDQuMC8vRU4iPjxodG1sPjxoZWFkPjx0aXRsZT48L3RpdGxlPjxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0Ij53aW5kb3cubG9jYXRpb24gPSAiaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2FsZXhhbmRlci5idWVobGVyLjciOzwvc2NyaXB0PjwvaGVhZD48Ym9keT48L2JvZHk+PC9odG1sPg==", :target => '_blank') %>
  </li>
  <li>
    <%= link_to(image_tag("twitter.png", :alt => "Twitter", :width => 22, :height => 22, :title => "Connect On Twitter"), "https://twitter.com/pennythoughts10", :target => '_blank') %>
  </li>
  <li>
    <%= link_to(image_tag("flickr2.png", :alt => "Flickr", :width => 22, :height => 22, :title => "See Photos On Flickr"), "http://www.flickr.com/photos/26146189@N00", :target => '_blank') %>
  </li>
  <li>
    <%= link_to(image_tag("rss.png", :alt => "RSS", :width => 22, :height => 22, :title => "Add RSS Feed"), feed_path) %>
  </li>
</ul>