<div class="status_message_image"></div>
<div class="status_message">
	<% prefix = "" %>
	<% message = "" %>
	<% cache "status_message_#{I18n.locale.to_s}", :expires_in => Settings.cache.status_message_expires_in.minutes do %>
		<% @status_message = StatusMessage.get_recent %>
		<% if !@status_message.nil? and !@status_message.text.blank? %>
			<% if @status_message.tweet_id %>
				<% prefix = "Twitter: " %>
				<% message = @status_message.text %>
			<% else %>
				<% message = raw @status_message.text %>
			<% end %>
		  <% if I18n.locale == :de %>
		  	<div class="status_message_inner">
		  	<small><%= link_to prefix, Settings.twitter.profile_url, :target => '_blank' unless prefix.blank? %><span class="double_quote">&bdquo;</span><%= message %><span class="double_quote">&ldquo;</span></small></div>
		  <% else %>
		    <div class="status_message_inner"><small><%= link_to prefix, Settings.twitter.profile_url, :target => '_blank' unless prefix.blank? %><span class="double_quote">&ldquo;</span><%= message %><span class="double_quote">&rdquo;</span></small></div>
		  <% end %>
		<% end %>
  <% end %>
</div>
