<div class="status_message_image"></div>
<div class="status_message">
  <% if !@status_message.nil? and !@status_message.text.blank? %>
    <% if I18n.locale == :de %>
    	<div class="status_message_inner">
      <small><span class="double_quote">&bdquo;</span><%= raw @status_message.text %><span class="double_quote">&ldquo;</span></small></div>
    <% else %>
      <div class="status_message_inner"><small><span class="double_quote">&ldquo;</span><%= raw @status_message.text %><span class="double_quote">&rdquo;</span></small></div>
    <% end %>
  <% end %>
</div>
