<% cache get_cache_key(@page) do %>
	<% if !@page.title.nil? %>
		<% provide(:title, @page.title) %>
	<% end %>
	<% if !@page.body.nil? %>
		<div class="page_body">
			<%= @page.body.html_safe %>
		</div>
	<% end %>
<% end %>
