@import "bootstrap";
// @import "bootstrap-responsive";

/* mixins, variables, etc. */

 // #eaeaea;

$gray_1: #a8a8a8;
$gray_2: #7f7f7f;
// #999999
$gray_3: #666666;
$gray_4: #333333;

/* universal */

html {
  overflow-y: scroll;
}

body {
  line-height: 18px;
  font-size: 12px;
  font-family: "Helvetica Neue";
  color: $gray_4;
  background: #454343 url('black_body_bg.png') repeat-x;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container_shadow {
  background: transparent url('shadow_v.png') repeat-y;
  width: 1005px;
  margin-left: auto;
  margin-right: auto;
}

.container_shadow_bottom {
  background: transparent url('shadow_h.png');
  background-repeat: no-repeat;
  width: 1005px;
  height: 29px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.container {
  padding: 0 0 0 0;
  margin-bottom: 0px;
  background-color: white;
  background: white url('border.png') repeat-y;
}

.container_inner {
  margin-left: 20px;
}

.row {
  margin-left: 0px;
}

[class*="span"] {
    margin-left: 10px;}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  // font-family: "Times New Roman";
  font-size: 12px;
  line-height: 18px;
}
b {
  line-height: 18px;
}

a:link {
    text-decoration: none;
    color: $gray_2;
}
a:visited {
    text-decoration: none;
    color: $gray_2;
}
a:hover {
    text-decoration: none;
    color: $gray_4;
}

#logo {
  float: left;
  margin-right: 15px;
  margin-left: 45px;
  color: white;
  font-family: "Times New Roman";
  font-size: 16px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    color: white;
  }
  img {
    float: left;
    margin-right: 1px;
    margin-left: -1px;
    width: 19px;
    position: relative;
    top: 0px;
  }
}


/* header */
#header_section {
  background-color: $gray_4;
  background-image: none;
  margin-top: 30px;
}
#topnav-l {
    background: url("topnav-l.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    width: 3px;
}

#topnav {
    background-color: #333333;
    border-top: 1px solid #404040;
    float: left;
    height: 25px;
    width: 934px;
    padding-top: 6px;

  }
#topnav-r {
    background: url("topnav-r.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 30px;
    width: 3px;
}

.language_divider {
  // color: #ff9933;
  color: white;
}
.language_switch {
  margin-right: 30px;
  a {
  text-decoration: none;
  color: $gray_2;
  }
  a:hover {
  color: white;
  }
}

.status_message {
  margin-top: 35px;
  line-height: 14px;
  .double_quote {
    // font-size: 200%;
  }
  small {
    font-size: 11px;
  }
  img {
    float: left;
    margin-left: -32px;
    margin-right: 8px;
    // margin-top: -5px;
    width: 34px;
  }
  a {
  text-decoration: none;
  color: $gray_4;
  font-weight: bold;
  }
  a:hover {
  color: $gray_2;
  }
}

h1 {
  font-family: "Helvetica";
  font-size: 31px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: -1px;
  margin-left: 18px;
  margin-top: 28px;
}

h2 {
  font-size: 13px;
  font-family: "Verdana";
  letter-spacing: 0.3px;
  margin-bottom: 36px;
  // font-style: italic;
  font-weight: normal;
  color: $gray_2;
  margin-left: 18px;
}

h3 {
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 5px;
  color: $gray_4;
  font-family: "Helvetica Neue";
}

.line_box {
  border-top: 1px solid $gray_1;
  padding-top: 40px;
  min-height: 400px;
  height: auto;
}

/* navigation */ 

.nav-list {
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 5px;
    li {
    margin-bottom: 1px;
    line-height: 12px;
    padding-left: 0px;
  }
}

#navi_1 {
  text-transform: uppercase;
  margin-right: 25px;
  margin-left: 0px;
  padding-left: 25px;
  font-weight: normal;
  background: transparent url('line_3.png') repeat-y;
  .nav-list > li > a {
    color: $gray_4;
    padding-left: 7px;
    padding-right: 8px;
  }
  .nav-list > .active > a {
    background-color: $gray_4;
    background-image: -moz-linear-gradient(center top , black 60%, $gray_2 100%);
    border: 0px solid $gray_4;
    border-radius: 8px 8px 8px 8px;
     // box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    color: white;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
    font-weight: normal;
  }
  .nav-list > .active > a:hover {
    background-color: $gray_4;
    color: $gray_2;
  }
  .nav-list > li > a:hover {
    background-color: transparent;
    color: $gray_2;
  }
}

#navi_2 {
  text-transform: none;
  // margin-right: 18px;
  padding-left: 15px;
  margin-left: 0px;
  background: transparent url('line_3.png') repeat-y;
  .nav-list > li > a {
    color: $gray_2;
  }
  .nav-list > .active > a {
    background-color: transparent;
    background-image: none;
    border: 0px solid #99ccff;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    color: black;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
    font-weight: normal;
  }
  .nav-list > .active > a:hover {
    color: $gray_4;
  }
  .nav-list > li > a:hover {
    background-color: transparent;
    color: $gray_4;
  }
}
#navi_3 {
  text-transform: none;
  margin-right: 5px;
  padding-left: 15px;
  background: transparent url('line_3.png') repeat-y;
  .nav-list > li > a {
    color: $gray_1;
  }
  .nav-list > .active > a {
    background-color: transparent;
    background-image: none;
    border: 0px solid #99ccff;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    color: black;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
    font-weight: normal;
  }
  .nav-list > .active > a:hover {
    color: $gray_2;
  }
  .nav-list > li > a:hover {
    background-color: transparent;
    color: $gray_2;
  }
}

.btn:hover {
  text-decoration: none;
  color: $gray_4;
}
.btn:link {
  text-decoration: none;
  color: $gray_4;
}
.btn:visited {
  text-decoration: none;
  color: $gray_4;
}

#content_section {
  margin-left: -7px;
  margin-top: 0px;
  padding-left: 15px;
  background: transparent url('line_3.png') repeat-y;
  .thumbnail {
    clear: left;
  }
  .globe_btn {
    a {
      display: block;
      width: 21px;
      height: 21px;
      position: relative; top: 3px;
      background: url(globe_map_1.jpg);
      background-color: white;
      background-size: 21px 21px;
      background-repeat: no-repeat;
    }
    a:hover {
      background: url(globe_map_2.png);
      background-color: white;
      background-size: 21px 21px;
    }
  }
  .greyed_out {
    color: $gray_2;
  }
  .embedded_video_viewer {
    clear: left;
    // margin-top: 5px;
  }
  .jwplayer_viewer {
    clear: left;
  }
  .audio_player {
    clear: left;
  }
}
.article_details {
  // margin-bottom: 10px;
}
.radio_track_details {
  // margin-bottom: 10px;
}

.video_details {
  // margin-bottom: 10px;
}

.post_details {
  // margin-bottom: 10px;
  .post_body {
    float: left;
    a {
    color: $gray_4;
    text-decoration: underline;
    }
    a:hover {
    color: $gray_2;
    }
  }
}
.page_body {
  a {
    color: $gray_4;
    text-decoration: underline;
    }
    a:hover {
    color: $gray_2;
    }
}

.share_section {
  height: 15px;
  margin-bottom: 16px;
  margin-top: -29px;
}
.fb-like {
  // float: right;
  // margin-bottom: 0px;
  // padding-top: -20px;
}

.button {
  float: left;
  // margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 8px;
}

.thumbnail {
  // float: left;
}

#sidebar_right {
  padding-right: 0px;
  ul {
    list-style: none outside none;
  }
  img {
    margin-bottom: 0px;
  }
}

/* footer */

footer {
  margin-top: 15px;
  padding-top: 5px;

  // border-top: 1px solid $gray_1;
  color: $gray_2;
  a {
    color: $gray;
    &:hover { 
      color: $gray_4;
    }
  }  
  small { 
    float: left; 
    padding-top: 0px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 80%;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
#map {
  a:link {
    text-decoration: underline;
    // color: $gray_2;
}
}
#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 

.map_info_window_link {
//   a:link {
//     text-decoration: underline;
//     color: $gray_2;
// }
}
.yellow { border: 1px solid black; margin-top: 8px; background: white; padding: 5px; }

// .my-marker {
//   background-color: red;
//   width: 30px;
//   height: 50px;
//   padding: 5px;
//   font: 10% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; 
// }

