@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  // padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

// .center {
//   text-align: center;
//   h1 {
//     margin-bottom: 10px;
//   }
// }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.7em;
  font-family: "Times New Roman";
  letter-spacing: -1.5px;
  margin-bottom: 10px;
  // text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  // text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  // font-family: "Times New Roman";
  font-size: 1.1em;
  line-height: 1.1em;
}



/* header */

.navbar {
  margin-bottom: 20px;
}

.navbar-inner {
  // background-color: transparent;
  // background-image: -moz-linear-gradient(center top , $grayDarker 0%, $gray 100%);
}

#logo {
  float: left;
  margin-right: 15px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  &:hover {
    color: white;
    // text-decoration: none;
  }
}

#logo_name_ab {
  float: left;
  padding-top: 15px;
  line-height: 1;
  color: white;
  letter-spacing: 2.5px;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* footer */

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* navigation */ 

.nav-list {
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 12px;
}
.nav-list > li {
    margin-bottom: 2px;
}
// .nav nav-pills nav-stacked {
//     margin-bottom: 0;
//     padding-left: 2px;
//     padding-right: 2px;
// }
#navi_1 {
  text-transform: uppercase;
  // padding-left: 20px;
  .active {
  }
}
#navi_2 {
  // text-transform: uppercase;
  .active {
  }
}
#navi_3 {
  // text-transform: uppercase;
  // margin-right: 10px;
  .active {
  }
}
.nav-list > li > a {
  text-decoration: none;
}
.nav-list > li > a:hover {
    background-color: $grayMediumLight;
    // border: 1px solid rgba(0, 0, 0, 0.05);
    // border-radius: 4px 4px 4px 4px;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    // color: black;
    // font-weight: bold;
    // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
     // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > .active > a {
    background-image: -moz-linear-gradient(center top , $grayMediumLight 0%, $grayLight 100%);
    // background-color: $grayMediumLight;
    // border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    color: black;
    font-weight: bold;
    // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > .active > a:hover {
      // background-color: $grayMediumLight;
      // color: #0088CC;
      // color: black;
      // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
// .nav-pills > .active > a {
//     background-color: transparent;
//     color: black;
//     font-weight: bold;
//     // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
// }
// .nav-pills > .active > a:hover {
//       background-color: $grayMediumLight;
//       // color: #0088CC;
//       color: black;
//       // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
// }

// .nav-tabs {
//     background-color: #EEEEEE;
//     background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
//     background-repeat: repeat-x;
//     border: 1px solid #E5E5E5;
//     border-radius: 4px 4px 4px 4px;
//     height: 36px;
//     width: 100%;
// }

// .nav-tabs > .active > a {
//     background-color: transparent;
//     color: black;
//     font-weight: bold;
//     // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
// }
// .nav-tabs > .active > a:hover {
//       background-color: $grayMediumLight;
//       // color: #0088CC;
//       color: black;
//       // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
// }
// .nav-pills {
//   margin-top: -15px;
// }
#content {
  margin-left: 35px;
  // float: left;
}
.article_details {
  margin-bottom: 10px;
}
#article_details > a {
  text-decoration: none;
}