@import "bootstrap";

/* mixins, variables, etc. */

 // #eaeaea;

$gray_1: #cccccc;
$gray_2: #999999;
$gray_3: #666666;
$gray_4: #333333;

/* universal */

html {
  overflow-y: scroll;
}

body {
  // padding-top: 60px;
  // line-height: 1px;
  font-size: 0.75em;
  font-family: "Helvetica Neue";
  color: $gray_2;
  background-color: #f4f4f4;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.container2 {
  width: 850px;
  // border: 1px solid $gray_1;
  // background-color: white;
  margin-left: auto;
  margin-right: auto;
    padding-left: 2px;
    padding-right: 19px;
}
.container2:after {
    clear: both;
}
.container2:before, .container2:after {
    content: "";
    display: table;
}
.container {
  width: 850px;
  padding-top: 7px;
  padding-left: 2px;
  padding-right: 19px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border: 0px solid $gray_1;
  background-color: white;
}

.container_inner {
  margin-left: 20px;
}

.row {
  margin-left: 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


#logo {
  float: left;
  margin-right: 15px;
  // margin-left: 20px;
  color: white;
  font-family: "Garamond";
  // font-size: 1.25em;
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 6px;
  font-weight: normal;
  // line-height: -10px;
  text-decoration: none;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  &:hover {
    color: white;
    // text-decoration: none;
  }
  img {
    width: 15px;
    margin-right: 0px;
    position: relative; top: 1px
  }
}


/* header */
.navbar-inner {
    background-color: #666;
    background-image: -moz-linear-gradient(center top , $gray_1 90%, $gray_2 100%);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
  margin-bottom: 1px;
}
// .nav {
//   margin-bottom: 0px;
// }

.navbar-inner {
  // background-color: transparent;
  // background-image: -moz-linear-gradient(center top , $gray_4 0%, $gray 100%);
}

.language_divider {
  color: #ff9933;
}
.language_switch > a {
  text-decoration: none;
  color: $gray_2;
}

.language_switch > a:hover {
  color: $gray_4;
}

h1 {
  // font-size: 2em;
  font-size: 30px;
  font-family: "Georgia";
  letter-spacing: 1px;
  margin-bottom: 3px;
  margin-top: 14px;
  font-weight: normal;
  margin-left: 0px;
}

h2 {
  // font-size: 1.25em;
  font-size: 19px;
  font-family: "Garamond";
  letter-spacing: 1px;
  margin-bottom: 36px;
  // text-align: center;
  font-weight: normal;
  color: $gray_2;
  margin-left: 0px;
}

h3 {
  font-size: 1em;
  // letter-spacing: -1px;
  margin-bottom: 0.4em;
  color: $gray_4;
  font-family: "Helvetica";
  font-weight: bold;
  // color: $gray_2;
}

p {
  // font-family: "Times New Roman";
  // font-size: 1.0em;
  line-height: 18px;
}
b {
  line-height: 18px;
}

a:link {
    text-decoration: none;
    color: $gray_2;
}
a:visited {
    text-decoration: none;
    color: $gray_2;
}
a:hover {
    text-decoration: none;
    color: $gray_4;
}

/* navigation */ 

li {
    // line-height: 12px;
}
.nav-list {
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    // line-height: 14px;
}
.nav-list > li {
    margin-bottom: 2px;
    line-height: 12px;
}

#navi_1 {
  text-transform: uppercase;
  margin-right: 18px;
  margin-left: 0px;
  .nav-list > li > a {
    color: $gray_4;
  }
  .nav-list > .active > a {
    background-color: #99ccff;
    background-image: -moz-linear-gradient(center top , #99ccff 0%, #ffffff 100%);
    border: 1px solid #99ccff;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: normal;
  }
  .nav-list > .active > a:hover {
    color: $gray_2;
  }
  .nav-list > li > a:hover {
    background-color: transparent;
    color: $gray_2;
  }
}

#globe_medium {
  img {
    // margin-top: 10px;
    margin-left: -15px;
    width: 100px;
  }
}

#navi_2 {
  text-transform: none;
  margin-right: 18px;
  .nav-list > li > a {
    color: $gray_2;
  }
  .nav-list > .active > a {
    background-color: transparent;
    background-image: none;
    border: 0px solid #99ccff;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    color: black;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
    font-weight: normal;
  }
  .nav-list > .active > a:hover {
    color: $gray_4;
  }
  .nav-list > li > a:hover {
    background-color: transparent;
    color: $gray_4;
  }
}
#navi_3 {
  text-transform: none;
  margin-right: 18px;
  .nav-list > li > a {
    color: $gray_2;
  }
  .nav-list > .active > a {
    background-color: transparent;
    background-image: none;
    border: 0px solid #99ccff;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    color: black;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
    font-weight: normal;
  }
  .nav-list > .active > a:hover {
    color: $gray_4;
  }
  .nav-list > li > a:hover {
    background-color: transparent;
    color: $gray_4;
  }
}

// .nav-list > li > a {
//   text-decoration: none;
//   color: #333333;
// }
// .nav-list > li > a:hover {
//   color: $gray_2;
// }


.btn:hover {
  text-decoration: none;
  color: $gray_4;
}
.btn:link {
  text-decoration: none;
  color: $gray_4;
}
.btn:visited {
  text-decoration: none;
  color: $gray_4;
}

#content_section {
  margin-left: 20px;
  margin-top: 4px;
}
.article_details {
  margin-bottom: 10px;
}
.radio_track_details {
}

.fb-like {
  // float: right;
  margin-bottom: 7px;
}

#sidebar_right {
  ul {
    list-style: none outside none;
  }
  img {
    margin-bottom: 6px;
  }
}

/* footer */

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid $gray_1;
  color: $gray_2;
  a {
    color: $gray;
    &:hover { 
      color: $gray_4;
    }
  }  
  small { 
    float: right; 
    padding-top: 5px;
    font-size: 80%;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


.ui-datepicker-title {
  color: $gray_4;
}

