<div id="topnav-l"></div>
<div id="topnav">
	<a href="<%= root_path + params[:locale] %>">
		<div id="logo">
			<div style="float:left;">Internati</div><%= image_tag("globe_logo.png", alt: "globe_logo_small.png", title: "") %><div style="float:left;">nal Man</div>
		</div>	
	</a>
	<%= render 'shared/search_field' %>
	<%= render 'shared/language_switch' %>
</div>
<div id="topnav-r"></div>

  