<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "International Man", root_path, id: "logo" %>
      <div id="logo_name_ab">
          <%= t(:alexander_buehler) %> - Journalist
      </div>
      <nav>
        <ul class="nav pull-right">
        	<li>
            <%= link_to "Deutsch", :locale=>'de' %>
          </li>
          <li>
            <%= link_to "English", :locale=>'en' %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

 