<header class="navbar">
  <div class="navbar-inner">
    <div class="container2">
      <div class="container_inner">
        <div id="logo">Internati<img alt="Glob3a" src="/assets/glob_grey.gif">nal Man</div>
    </div>
    </div>
  </div>
</header>

  