<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "International Man", root_path, id: "logo" %>
      <div id="logo_name_ab">
          Alexander Bühler - Journalist
      </div>
      <nav>
        <ul class="nav pull-right">
        	<li>
            <%= link_to 'Deutsch', "#" %>
          </li>
          <li>
            <%= link_to 'English', "#" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

 