<!-- <header> -->
  <!-- <div style=""> -->
  		<div id="topnav-l"></div>
			<div id="topnav">
			<div id="logo">International Man</div>
    	<%= render 'shared/language_switch' %>
    	</div>
			<div id="topnav-r"></div>
      <!-- <div id="logo">Internati<img alt="Glob3a" src="/assets/glob_grey.gif">nal Man</div> -->
    	
<!--   </div>
</header> -->

  