<div id="topnav-l"></div>
<div id="topnav">
	<div id="logo">
		<div style="float:left;">Internati</div><%= image_tag("globe_logo_1.png", alt: "globe_logo_1.png", title: "") %><div style="float:left;">nal Man</div>
	</div>	
	<%= render 'shared/language_switch' %>
</div>
<div id="topnav-r"></div>

  